@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" style="height: 90vh;">
    <div class="carousel-inner" style="height: 100%;">
        <!-- AlUla -->
        <div class="carousel-item active" style="height: 100%; position: relative;">
            <img src="https://details.sa/ar/wp-content/uploads/2024/01/%D8%A7%D9%84%D8%B9%D9%84%D8%A7-3.jpg" class="d-block w-100 h-100" alt="AlUla">
            <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
                <h1 class=" fw-bold" style="font-size:100px">Welcome to AlUla</h1>
                <p>Explore the beauty of history</p>
            </div>
        </div>
        <!-- Jeddah -->
        <div class="carousel-item" style="height: 100%; position: relative;">
            <img src="https://www.aleqt.com/sites/default/files/styles/scale_830/public/rbitem/2024/05/29/2397711-610433129.jpg?itok=ZV3Yuwcf" class="d-block w-100 h-100" alt="Jeddah">
            <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
                <h2>Welcome to Jeddah</h2>
                <p>The bride of the Red Sea</p>
            </div>
        </div>
        <!-- Riyadh -->
        <div class="carousel-item" style="height: 100%; position: relative;">
            <img src="https://content.r9cdn.net/rimg/dimg/7d/60/488863c5-city-35744-16935f1b104.jpg?width=1366&height=768&xhint=1725&yhint=1010&crop=true" class="d-block w-100 h-100" alt="Riyadh">
            <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
                <h2>Welcome to Riyadh</h2>
                <p>Experience the capital of culture</p>
            </div>
        </div>
        <!-- Abha -->
        <div class="carousel-item" style="height: 100%; position: relative;">
            <img src="https://sa.aqar.fm/blog/wp-content/uploads/2023/02/%D8%B1%D8%AC%D8%A7%D9%84-%D8%A3%D9%84%D9%85%D8%B9-950x500.jpg" class="d-block w-100 h-100" alt="Abha">
            <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
                <h2>Welcome to Abha</h2>
                <p>Discover the cool highlands from abdallah'branch'</p>
            </div>
        </div>
    </div>
</div>


